.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

body{
  margin: 0px;
}

h2{
  background: #e7e7e7;
  border: 2px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  /* flex-grow: 1;
  flex-basis: auto;
  flex-shrink: 0; */
  flex: 1;
}